<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>LoginPage</title>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-200">
  <div class="main bg-white rounded-lg shadow-md p-10 transition-transform w-96 text-center">
    <h1 class="text-red-600 text-3xl font-bold">
      DocuHealth
    </h1>
    <h3 class="textlg">
      Tolong isi kredensial anda
    </h3>
    <form action="/login" method="post">
      <label for="" class="block mt-4 mb-2 text-left text-gray-700 font-bold">Username:</label>
      <input type="text" id="" name="email" placeholder="Tolong isi username anda" class="block w-full mb-6 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-red-400">
    
      <label for="" class="block mb-2 text-left text-gray-700 font-bold">Password:</label>
      <input type="text" id="" name="password" placeholder="Tolong isi password anda" class="block w-full mb-6 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-red-400">

      <div class="flex justify-center items-center">
        <button type="submit" class="bg-red-600 text-white py-3 px-6 rounded-md cursor-pointer transition-colors duration-300 hover:bg-red-500">
          Submit
        </button>
      </div>
    </form>
    <p class="mt-4">Belum punya akun?</p> 
      <a href="/register" class="text-blue-500 hover:underline">Buat dahulu</a> <!-- ini ngarah ke register page -->
  </div>
</body>
</html>