<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Register</title>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-200">
  <div class="main bg-white rounded-lg shadow-md p-10 transition-transform w-96 text-center">
    <h3 class="text-red-600 font-bold">
      Tolong isi data diri anda
    </h3>
    <form action="/register" method="post">
      <label for="" class="block mt-4 mb-2 text-left text-gray-700 font-bold">Email:</label>
      <input type="text" id="" name="email" placeholder="Tolong isi email anda" class="block w-full mb-6 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-red-400">
    
      <label for="" class="block mt-4 mb-2 text-left text-gray-700 font-bold">Password:</label>
      <input type="password" id="" name="password" placeholder="Tolong isi password anda" class="block w-full mb-6 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-red-400">
      
      <label for="" class="block mt-4 mb-2 text-left text-gray-700 font-bold">First Name:</label>
      <input type="text" id="" name="firstName" placeholder="Tolong isi first name anda" class="block w-full mb-6 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-red-400">
    
      <label for="" class="block mb-2 text-left text-gray-700 font-bold">Last Name:</label>
      <input type="text" id="" name="lastName" placeholder="Tolong isi last name anda" class="block w-full mb-6 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-red-400">

      <label for="" class="block mb-2 text-left text-gray-700 font-bold">Date of Birth:</label>
      <input type="date" id="" name="dateOfBirth" class="block w-full mb-6 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-red-400">

      <label for="" class="block mb-2 text-left text-gray-700 font-bold">Gender:</label>
      <select name="gender" id="" class="block w-full mb-6 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-red-400">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>

      <div class="flex justify-center items-center">
        <button type="submit" class="bg-red-600 text-white py-3 px-6 rounded-md cursor-pointer transition-colors duration-300 hover:bg-red-500">
          Submit
        </button>
      </div>
    </form>
  </div>
</body>
</html>